/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

	.container{
		background-color:white;
		border-bottom-left-radius:10px;
		border-bottom-right-radius:10px;
		padding-right:10px;
	}

	.logo {
		background:url(../img/logo.png) no-repeat;
		font-size: 100pt;
		line-height: 110pt;
		height:120px;
		width: 960px;
		border-bottom: solid 3px;
	}

	.logo a{
		display:block;
		float:left;
		height: 87px;
		text-indent: -40000px;
		width: 293px;
		margin-left: 10px;
		margin-top: 18px;
	}

	aside{
	}

	nav{
		text-align:center;
		margin-bottom: 20px;
	}

	nav ul{
		font-family: "compass_ltregular", Arial, Helvetica, sans-serif;
		font-size:28px;
		margin-top:30px;
		background:url(../img/navbg.png) no-repeat top center;
	}
	nav ul li{
		position:relative;
		height: 50px;
	}
	nav ul li a, nav ul li a:link{
		color:#575757;
		text-decoration:none;
		padding:20px 0 10px 0;
		display:block;
		text-shadow: #fff 0px 1px 0px;
	}
	nav ul li a:hover{
		text-decoration:none;
		color:#de5900;
	}
	nav ul li.active{
		background:url(../img/nav-ribbon.png) no-repeat 12px;
	}
	nav ul li.active a{
		color:white;
	}

	#fb{
		background:url(../img/fb_1.png) no-repeat;
		width:32px;
		margin-left: 90px;
		
	}

	.content {
		margin : 40px 0 0;
		padding-left: 30px;
		border-left: solid 3px;
	}

/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

	@font-face {
	    font-family: 'compass_ltregular';
	    src: url('../fonts/compasslight-webfont.eot');
	    src: url('../fonts/compasslight-webfont.eot?#iefix') format('embedded-opentype'),
	         url('../fonts/compasslight-webfont.woff') format('woff'),
	         url('../fonts/compasslight-webfont.ttf') format('truetype'),
	         url('../fonts/compasslight-webfont.svg#compass_ltregular') format('svg');
	    font-weight: normal;
	    font-style: normal;

	}